{% extends 'base.html' %}

{% block content %}
  <h1>Submit a Crime</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.crime_type.label(class="form-control-label") }}
      {{ form.crime_type(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.location.label(class="form-control-label") }}
      {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.day_of_week.label(class="form-control-label") }}
      {{ form.day_of_week(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.hour.label(class="form-control-label") }}
      {{ form.hour(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.minute.label(class="form-control-label") }}
      {{ form.minute(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
